@charset "utf-8";
/* CSS Document */
.anadiv{ background-color:#999; width:1333px; height:10000px; border:1px solid #000;}
.üstdiv{ background-color:#0F0; width:1333px; height:125px; border-bottom:1px solid #000; }

.icerikana{ width:1333px; height:550px; background-color:#FFFFD2; float:left;}
.icerikbayrak{ width:1333px; height:300px; background-color:#0FC; float:left;}
.bayraksol{ width:333px; height:175px; background-color:#FFF; float:left; border-bottom:1px solid #000; border-right:1px solid #000;
 -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);}
.bayraksol img { height:175px;
  width:333px;

  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -o-transition:all 1s ease;
  -ms-transition:all 1s ease;
  transition:all 1s ease;
   }
   .bayraksol img:hover{ width:350px; height:185px;}
   
.bayrakorta{ width:333px; height:175px; background-color:#FFF; float:left; border-bottom:1px solid #000;
-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);}
.bayrakorta img{ height:175px;
  width:333px;

  -webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -o-transition:all 1s ease;
  -ms-transition:all 1s ease;
  transition:all 1s ease;}
  .bayrakorta img:hover{width:350px; height:185px;}


.bayraksag{width:333px; height:175px; background-color:#FFF; float:left; border-bottom:1px solid #000; border-left:1px solid #000;-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);}
.bayraksag img{-webkit-transition:all 1s ease;
  -moz-transition:all 1s ease;
  -o-transition:all 1s ease;
  -ms-transition:all 1s ease;
  transition:all 1s ease;}
.bayraksag img:hover{width:350px; height:185px;}

.soldiv{ width:265px; height:550px; background-color:#FFFFD2; float:left; border-right:1px solid #FFFFD5; float:left; }
.soldiv ul{ list-style:none; margin:0px;  }
.soldiv li{ width:180px;  padding-top:5px; padding:5px; }
.soldiv li a{ height:60px; text-decoration:none; display:block;  background-color:#F33; color:#FFF; padding:0px; font-size:24px; font-weight:bold;text-align:center; border-radius:20px;}
.soldiv li a:hover{ display:block; background-color:#FFF; color:#F00; transition:.5s ease-in-out; border-radius:20px;}
.ulkebilgi{ width:1066px; height:355px; background-color:#FFFFD2; float:left}
.alfabediv{ width:1066px; height:195px; background-color:#FFFFD2; }
.alfabediv ul{ list-style:none; margin:0px; padding:0px;}
.alfabediv li{  border:1px solid #000; position:relative; float:left; width:auto; padding:0px; }
.alfabediv li ul{ display:none;}
.alfabediv li:hover ul{ display:block;}
.alfabediv li a{ padding:8px; text-decoration:none; background-color:#CCC; color:#000; display:block; text-align:center; font-size:24px; }
.alfabediv li a:hover{transition:.2s ease-in-out; background-color:#000; color:#CCC; }
.hbiryazı{ margin-top:0px; font-size:56px; font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;}
.altdiv{}